<div class="container mt-4">
  <h2>Add Fruit</h2>
  <form>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="fruitss.name" name="name" required>
    </div>
    <div class="mb-3">
      <label for="type" class="form-label">Type</label>
      <input type="text" class="form-control" id="type" [(ngModel)]="fruitss.type" name="type" required>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="number" class="form-control" id="price" [(ngModel)]="fruitss.price" name="price" required>
    </div>
    <button type="submit" class="btn btn-primary" (click)="addOnList()">Submit</button>
  </form>
</div>
