<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<div class="header">
  <div class="navbar bg-primary text-center justify-content-right">
    <h4 class="text-bold font-weight-bold p-2 m-2">Horror life</h4>
    <ul class="nav bg-light m-2 p-2">
       <li class="nav-item"><a class="nav-link" routerLink="">Home</a></li>
       <li class="nav-item"><a class="nav-link"  routerLink="/contact">Conact</a></li>
       <li class="nav-item"><a class="nav-link"  routerLink="/service">Service</a></li>
    </ul>
  </div>
</div>
<div class="container-fluid text-center font-weight-lighter">
  <h3 class="bg-danger font-weight-bolder">Conact info</h3>
  <p class="font-italic">Hasebul</p>
  <p class="font-italic">01575166110</p>
</div>

<body>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
